@tailwind base;
@tailwind components;
@tailwind utilities;

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #aaa; /* or add it to the track */
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 8px;
}